<tr>
  <td class="star-cell">
    <div class="best">
    ☆
    </div>
  </td>
  <td class="answer-vote-button">
    <div class="answer-vote-button">
    <%= erb :'partials/_answer_vote_button', locals: { post: @answer } %>
    </div>
  </td>

  <td>
    <div class="answer-wrapper">
      <p><strong><%= @answer.content %></strong></p>

      <% author = @answer.author %>
      <div><em>answered by <a href='/user/<%= author.id %>'><%= author.username %></a> <small>on <%= @answer.created_at.to_formatted_s(:long_ordinal) %></small></em></div>

    </div>
  </td>
</tr>

<tr>
  <td></td>
  <td></td>

  <td>
    <%= erb :'/partials/_comment_show', locals: { answer: @answer } %>
  </td>
</tr>
