<tr>
  <td>
    <%= erb :'partials/_comment_vote_button', locals: { post: @comment } %>
  </td>

  <td class="comment-cell">
    <span class="comment-wrapper">
    <% author = @comment.author %>
      <%= @comment.content %>
     <em><a href='/user/<%= author.try(:id) %>'><%= author.try(:username) %> </a> <small>on <%= @comment.created_at.to_formatted_s(:long_ordinal) %></small></em>
    </span>
  </td>
</tr>
