<div id="answers">
  <% if @question.answers %>
    <ul id="answers-list">
      <p class="answers-count"><%= @question.answers.length %> Answers</p>
      <% @question.answers.each do |answer| %>
        <p><strong><%= answer.content %></strong></p>

        <% if answer.comments %>
        <ul>
          <% answer.comments.each do |comment| %>
            <li><%= comment.content %></li>
          <% end %>
        </ul>
        <% end %>
        <form action="/questions/<%= @question.id %>/answers/<%= answer.id %>/new" method="get">
          <button type="submit" class="btn btn-xs btn-success">New Comment</button>
        </form>
      <% end %>
    </ul>
  <% end %>
</div>
