<div id="answers">
  <% if @question.answers %>
    <ul id="answers-list">
      <p class="answers-count"><%= @question.answers.length %> Answers</p>
      <% @question.answers.each do |answer| %>
        <p><strong><%= answer.content %></strong></p>

        <% if answer.comments %>
        <ul id="comments-<%= answer.id %>" class="comments-list">
          <% answer.comments.each do |comment| %>
            <li><%= comment.content %></li>
          <% end %>
        </ul>
        <% end %>
        <div id="<%= answer.id %>" class='comment-wrapper'>
          <form id="new-comment-form-button" action="/questions/<%= @question.id %>/answers/<%= answer.id %>/new" method="get">
            <button id="new-comment-button" type="submit" class="btn btn-xs btn-warning">Comment On This Answer</button>
          </form>
        </div>
      <% end %>
    </ul>
  <% end %>
</div>
