<div id="answers">
  <% answers = @question.answers %>
  <% if answers %>
    <% answers = sort_by_votes(answers) %>
    <% answers = sort_best_first(answers) %>
    <table id="answers-list" class="answer-table">
      <% answers.each do |answer| %>

        <tr>
          <td class='star-cell'>
            <% if answer.is_best %>
              <% state = '★' %>
            <% else %>
              <% state = '☆' %>
            <% end %>

            <div class='best'>
              <% if session_user == @question.author %>
                <a class='best' href='/best/<%= @question.try(:id) %>/<%= answer.try(:id) %>'><%= state %></a>
              <% else %>
                <%= state %>
              <% end %>
           </div>
         </td>
          <td id="answer-td" class="answer-vote-button-cell">
            <div class="answer-vote-button">
            <%= erb :'partials/_answer_vote_button', locals: { post: answer } %>
            </div>
          </td>

          <td>
            <div class="answer-wrapper">
              <p><strong><%= answer.content %></strong></p>

              <% author = answer.author %>
              <div><em>answered by <a href='/user/<%= author.try(:id) %>'><%= author.try(:username) %></a> <small>on <%= answer.created_at.to_formatted_s(:long_ordinal) %></small></em></div>
            </div>
          </td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td>
            <%= erb :'/partials/_comment_show', locals: { answer: answer } %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
