<h2 class="question-title"><%= @question.title %></h2>
<p><%= @question.content %></p>

<div class="wrap-vote-button">
  <form action="/questions/<%= @question.id %>/votes" method="post">
    <input type="hidden" name="vote_count" value="1" /> 
    <input class="vote-button arrow-up" type="submit" value="Vote Up">
  </form>

  <div id="vote-count"><%=@question.vote_count%></div>

  <form action="/questions/<%= @question.id %>/votes" method="post">
    <input type="hidden" name="vote_count" value="-1" /> 
    <input class="vote-button arrow-down" type="submit" value="Vote Down">
  </form> 
</div>

