<div class="container question-container">

  <div class="question-wrapper">
    <table >
      <tr>
        <td>
          <%= erb :'/partials/_vote_button', locals: { post: @question } %>
        </td>

        <td>
          <div class="question-content-wrapper">
            <h2 class="show-question-title"><%= @question.title %></h2>
            <p class="question-content"><%= @question.content %></p>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <h3 class="answers-count"><%= @question.answers.length %> Answers</h3>

  <%= erb :"partials/_answer_show" %>

  <div id="ajax-answer">
    <form id="new-answer-button" action="/questions/<%= @question.id %>/answers/new" method="get">
      <button id="<%= @question.id %>" type="submit" class="btn btn-lg btn-warning btn-block answer-button">Submit An Answer</button>
    </form>
  </div>
  <div>

  </div>
</div>
