<div class="container vote-button-container">
  <h2 class="show-question-title"><%= @question.title %></h2>

  <%= erb :"partials/_question_vote_button"%>

  <p class="question-content"><%= @question.content %></p>

  <%= erb :"partials/_answer_index"%>

  <div>
    <form action="/questions/<%= @question.id %>/answers/new" method="get">
      <button type="submit" class="btn btn-xs btn-success">New Answer</button>
    </form>
  </div>

  <div>
    <form action="/questions/<%= @question.id %>/comments/new" method="get">
      <button type="submit" class="btn btn-xs btn-success">New Comment</button>
    </form>
  </div>
</div>


